<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#</key>
	<array/>
	<key>A</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>152900</string>
			<key>areaname</key>
			<string>阿拉善盟</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210300</string>
			<key>areaname</key>
			<string>鞍山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340000</string>
			<key>areaname</key>
			<string>安徽省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340800</string>
			<key>areaname</key>
			<string>安庆市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410500</string>
			<key>areaname</key>
			<string>安阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>522500</string>
			<key>areaname</key>
			<string>安顺地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>612400</string>
			<key>areaname</key>
			<string>安康地区</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>610300</string>
			<key>areaname</key>
			<string>宝鸡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>533000</string>
			<key>areaname</key>
			<string>保山地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>620400</string>
			<key>areaname</key>
			<string>白银市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>522400</string>
			<key>areaname</key>
			<string>毕节地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>513700</string>
			<key>areaname</key>
			<string>巴中地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450500</string>
			<key>areaname</key>
			<string>北海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>452600</string>
			<key>areaname</key>
			<string>百色地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>372300</string>
			<key>areaname</key>
			<string>滨州地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340300</string>
			<key>areaname</key>
			<string>蚌埠市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210500</string>
			<key>areaname</key>
			<string>本溪市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220800</string>
			<key>areaname</key>
			<string>白城市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220600</string>
			<key>areaname</key>
			<string>白山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>150200</string>
			<key>areaname</key>
			<string>包头市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>110000</string>
			<key>areaname</key>
			<string>北京市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130600</string>
			<key>areaname</key>
			<string>保定市</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>130800</string>
			<key>areaname</key>
			<string>承德市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130900</string>
			<key>areaname</key>
			<string>沧州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>150400</string>
			<key>areaname</key>
			<string>赤峰市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140400</string>
			<key>areaname</key>
			<string>长治市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>211300</string>
			<key>areaname</key>
			<string>朝阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220100</string>
			<key>areaname</key>
			<string>长春市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320400</string>
			<key>areaname</key>
			<string>常州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>341100</string>
			<key>areaname</key>
			<string>滁州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>342600</string>
			<key>areaname</key>
			<string>巢湖地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>342900</string>
			<key>areaname</key>
			<string>池州地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430100</string>
			<key>areaname</key>
			<string>长沙市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430700</string>
			<key>areaname</key>
			<string>常德市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>431000</string>
			<key>areaname</key>
			<string>郴州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460027</string>
			<key>areaname</key>
			<string>澄迈县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>445100</string>
			<key>areaname</key>
			<string>潮州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>520199</string>
			<key>areaname</key>
			<string>测试地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>500000</string>
			<key>areaname</key>
			<string>重庆市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510100</string>
			<key>areaname</key>
			<string>成都市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>655555</string>
			<key>areaname</key>
			<string>测试地区</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>622400</string>
			<key>areaname</key>
			<string>定西地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510600</string>
			<key>areaname</key>
			<string>德阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>513000</string>
			<key>areaname</key>
			<string>达川地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441900</string>
			<key>areaname</key>
			<string>东莞市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460007</string>
			<key>areaname</key>
			<string>东方市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460025</string>
			<key>areaname</key>
			<string>定安县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460003</string>
			<key>areaname</key>
			<string>儋州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>371400</string>
			<key>areaname</key>
			<string>德州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370500</string>
			<key>areaname</key>
			<string>东营市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210200</string>
			<key>areaname</key>
			<string>大连市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210600</string>
			<key>areaname</key>
			<string>丹东市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230600</string>
			<key>areaname</key>
			<string>大庆市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140200</string>
			<key>areaname</key>
			<string>大同市</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>420700</string>
			<key>areaname</key>
			<string>鄂州市</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>440600</string>
			<key>areaname</key>
			<string>佛山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450600</string>
			<key>areaname</key>
			<string>防城港市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210900</string>
			<key>areaname</key>
			<string>阜新市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210400</string>
			<key>areaname</key>
			<string>抚顺市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350000</string>
			<key>areaname</key>
			<string>福建省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350100</string>
			<key>areaname</key>
			<string>福州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>341200</string>
			<key>areaname</key>
			<string>阜阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>362500</string>
			<key>areaname</key>
			<string>抚州地区</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>360700</string>
			<key>areaname</key>
			<string>赣州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450800</string>
			<key>areaname</key>
			<string>贵港市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450300</string>
			<key>areaname</key>
			<string>桂林市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>520000</string>
			<key>areaname</key>
			<string>贵州省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>520100</string>
			<key>areaname</key>
			<string>贵阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510800</string>
			<key>areaname</key>
			<string>广元市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>511600</string>
			<key>areaname</key>
			<string>广安市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440000</string>
			<key>areaname</key>
			<string>广东省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440100</string>
			<key>areaname</key>
			<string>广州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>620000</string>
			<key>areaname</key>
			<string>甘肃省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>642200</string>
			<key>areaname</key>
			<string>固原地区</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>652200</string>
			<key>areaname</key>
			<string>哈密地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>653200</string>
			<key>areaname</key>
			<string>和田地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610700</string>
			<key>areaname</key>
			<string>汉中市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>632100</string>
			<key>areaname</key>
			<string>海东地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>431200</string>
			<key>areaname</key>
			<string>怀化市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441300</string>
			<key>areaname</key>
			<string>惠州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441600</string>
			<key>areaname</key>
			<string>河源市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>421100</string>
			<key>areaname</key>
			<string>黄冈市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430000</string>
			<key>areaname</key>
			<string>湖南省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430400</string>
			<key>areaname</key>
			<string>衡阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>372900</string>
			<key>areaname</key>
			<string>荷泽地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410000</string>
			<key>areaname</key>
			<string>河南省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410600</string>
			<key>areaname</key>
			<string>鹤壁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420000</string>
			<key>areaname</key>
			<string>湖北省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420200</string>
			<key>areaname</key>
			<string>黄石市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>452400</string>
			<key>areaname</key>
			<string>贺州地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>452700</string>
			<key>areaname</key>
			<string>河池地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460000</string>
			<key>areaname</key>
			<string>海南省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460100</string>
			<key>areaname</key>
			<string>海口市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>341000</string>
			<key>areaname</key>
			<string>黄山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320800</string>
			<key>areaname</key>
			<string>淮阴市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340400</string>
			<key>areaname</key>
			<string>淮南市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340600</string>
			<key>areaname</key>
			<string>淮北市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340100</string>
			<key>areaname</key>
			<string>合肥市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330100</string>
			<key>areaname</key>
			<string>杭州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330500</string>
			<key>areaname</key>
			<string>湖州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>211400</string>
			<key>areaname</key>
			<string>葫芦岛市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>231100</string>
			<key>areaname</key>
			<string>黑河市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230400</string>
			<key>areaname</key>
			<string>鹤岗市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230000</string>
			<key>areaname</key>
			<string>黑龙江省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230100</string>
			<key>areaname</key>
			<string>哈尔滨市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>152200</string>
			<key>areaname</key>
			<string>兴安盟</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>131100</string>
			<key>areaname</key>
			<string>衡水市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130400</string>
			<key>areaname</key>
			<string>邯郸市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130000</string>
			<key>areaname</key>
			<string>河北省</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>152700</string>
			<key>areaname</key>
			<string>伊克昭盟</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>654100</string>
			<key>areaname</key>
			<string>伊犁地区</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>620200</string>
			<key>areaname</key>
			<string>嘉峪关市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>620300</string>
			<key>areaname</key>
			<string>金昌市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>622100</string>
			<key>areaname</key>
			<string>酒泉地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>152300</string>
			<key>areaname</key>
			<string>哲里木盟</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>142400</string>
			<key>areaname</key>
			<string>晋中地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140500</string>
			<key>areaname</key>
			<string>晋城市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230300</string>
			<key>areaname</key>
			<string>鸡西市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230800</string>
			<key>areaname</key>
			<string>佳木斯市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220000</string>
			<key>areaname</key>
			<string>吉林省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220200</string>
			<key>areaname</key>
			<string>吉林市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210700</string>
			<key>areaname</key>
			<string>锦州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330700</string>
			<key>areaname</key>
			<string>金华市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330400</string>
			<key>areaname</key>
			<string>嘉兴市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320000</string>
			<key>areaname</key>
			<string>江苏省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360400</string>
			<key>areaname</key>
			<string>九江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360000</string>
			<key>areaname</key>
			<string>江西省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360200</string>
			<key>areaname</key>
			<string>景德镇市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370100</string>
			<key>areaname</key>
			<string>济南市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>445200</string>
			<key>areaname</key>
			<string>揭阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410800</string>
			<key>areaname</key>
			<string>焦作市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>362400</string>
			<key>areaname</key>
			<string>吉安地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370800</string>
			<key>areaname</key>
			<string>济宁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>421000</string>
			<key>areaname</key>
			<string>荆州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420800</string>
			<key>areaname</key>
			<string>荆门市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440700</string>
			<key>areaname</key>
			<string>江门市</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>410200</string>
			<key>areaname</key>
			<string>开封市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>530100</string>
			<key>areaname</key>
			<string>昆明市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>653100</string>
			<key>areaname</key>
			<string>喀什地区</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>620100</string>
			<key>areaname</key>
			<string>兰州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>622600</string>
			<key>areaname</key>
			<string>陇南地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>533200</string>
			<key>areaname</key>
			<string>丽江地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>533500</string>
			<key>areaname</key>
			<string>临沧地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>540100</string>
			<key>areaname</key>
			<string>拉萨市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>520200</string>
			<key>areaname</key>
			<string>六盘水市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>511100</string>
			<key>areaname</key>
			<string>乐山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510500</string>
			<key>areaname</key>
			<string>泸州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>452200</string>
			<key>areaname</key>
			<string>柳州地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450200</string>
			<key>areaname</key>
			<string>柳州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460028</string>
			<key>areaname</key>
			<string>临高县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410300</string>
			<key>areaname</key>
			<string>洛阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>371500</string>
			<key>areaname</key>
			<string>聊城市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>371200</string>
			<key>areaname</key>
			<string>莱芜市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>371300</string>
			<key>areaname</key>
			<string>临沂市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411100</string>
			<key>areaname</key>
			<string>漯河市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>432500</string>
			<key>areaname</key>
			<string>娄底地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>342400</string>
			<key>areaname</key>
			<string>六安地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350800</string>
			<key>areaname</key>
			<string>龙岩市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320700</string>
			<key>areaname</key>
			<string>连云港市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>332500</string>
			<key>areaname</key>
			<string>丽水地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>211000</string>
			<key>areaname</key>
			<string>辽阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220400</string>
			<key>areaname</key>
			<string>辽源市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>142600</string>
			<key>areaname</key>
			<string>临汾地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>142300</string>
			<key>areaname</key>
			<string>吕梁地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210000</string>
			<key>areaname</key>
			<string>辽宁省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>131000</string>
			<key>areaname</key>
			<string>廊坊市</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>110228</string>
			<key>areaname</key>
			<string>密云县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340500</string>
			<key>areaname</key>
			<string>马鞍山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>231000</string>
			<key>areaname</key>
			<string>牡丹江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440900</string>
			<key>areaname</key>
			<string>茂名市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441400</string>
			<key>areaname</key>
			<string>梅州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510700</string>
			<key>areaname</key>
			<string>绵阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>513800</string>
			<key>areaname</key>
			<string>眉山地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>666666</string>
			<key>areaname</key>
			<string>麻城区1</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>542400</string>
			<key>areaname</key>
			<string>那曲地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>542500</string>
			<key>areaname</key>
			<string>阿里地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>542600</string>
			<key>areaname</key>
			<string>林芝地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>511300</string>
			<key>areaname</key>
			<string>南充市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>511000</string>
			<key>areaname</key>
			<string>内江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460038</string>
			<key>areaname</key>
			<string>南沙群岛</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>452100</string>
			<key>areaname</key>
			<string>南宁地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450100</string>
			<key>areaname</key>
			<string>南宁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411300</string>
			<key>areaname</key>
			<string>南阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320100</string>
			<key>areaname</key>
			<string>南京市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320600</string>
			<key>areaname</key>
			<string>南通市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330200</string>
			<key>areaname</key>
			<string>宁波市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>352200</string>
			<key>areaname</key>
			<string>宁德地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350700</string>
			<key>areaname</key>
			<string>南平市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360100</string>
			<key>areaname</key>
			<string>南昌市</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>360300</string>
			<key>areaname</key>
			<string>萍乡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350300</string>
			<key>areaname</key>
			<string>莆田市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>211100</string>
			<key>areaname</key>
			<string>盘锦市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410900</string>
			<key>areaname</key>
			<string>濮阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410400</string>
			<key>areaname</key>
			<string>平顶山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510400</string>
			<key>areaname</key>
			<string>攀枝花市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>622700</string>
			<key>areaname</key>
			<string>平凉地区</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>622800</string>
			<key>areaname</key>
			<string>庆阳地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>630000</string>
			<key>areaname</key>
			<string>青海省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>542100</string>
			<key>areaname</key>
			<string>昌都地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>530300</string>
			<key>areaname</key>
			<string>曲靖市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441800</string>
			<key>areaname</key>
			<string>清远市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450700</string>
			<key>areaname</key>
			<string>钦州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460002</string>
			<key>areaname</key>
			<string>琼海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460004</string>
			<key>areaname</key>
			<string>琼山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230900</string>
			<key>areaname</key>
			<string>七台河市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>000000</string>
			<key>areaname</key>
			<string>全国</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130300</string>
			<key>areaname</key>
			<string>秦皇岛市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350500</string>
			<key>areaname</key>
			<string>泉州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370200</string>
			<key>areaname</key>
			<string>青岛市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330800</string>
			<key>areaname</key>
			<string>衢州市</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>371100</string>
			<key>areaname</key>
			<string>日照市</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>420300</string>
			<key>areaname</key>
			<string>十堰市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411200</string>
			<key>areaname</key>
			<string>三门峡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411400</string>
			<key>areaname</key>
			<string>商丘市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441500</string>
			<key>areaname</key>
			<string>汕尾市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440500</string>
			<key>areaname</key>
			<string>汕头市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440200</string>
			<key>areaname</key>
			<string>韶关市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440300</string>
			<key>areaname</key>
			<string>深圳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430003</string>
			<key>areaname</key>
			<string>苏仙区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430500</string>
			<key>areaname</key>
			<string>邵阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460200</string>
			<key>areaname</key>
			<string>三亚市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>500300</string>
			<key>areaname</key>
			<string>市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510000</string>
			<key>areaname</key>
			<string>四川省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510900</string>
			<key>areaname</key>
			<string>遂宁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330600</string>
			<key>areaname</key>
			<string>绍兴市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>321300</string>
			<key>areaname</key>
			<string>宿迁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320500</string>
			<key>areaname</key>
			<string>苏州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>362300</string>
			<key>areaname</key>
			<string>上饶地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370000</string>
			<key>areaname</key>
			<string>山东省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350400</string>
			<key>areaname</key>
			<string>三明市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>341300</string>
			<key>areaname</key>
			<string>宿州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130100</string>
			<key>areaname</key>
			<string>石家庄市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140000</string>
			<key>areaname</key>
			<string>山西省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210100</string>
			<key>areaname</key>
			<string>沈阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140600</string>
			<key>areaname</key>
			<string>朔州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>232300</string>
			<key>areaname</key>
			<string>绥化地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>310000</string>
			<key>areaname</key>
			<string>上海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230500</string>
			<key>areaname</key>
			<string>双鸭山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220700</string>
			<key>areaname</key>
			<string>松原市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220300</string>
			<key>areaname</key>
			<string>四平市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>542200</string>
			<key>areaname</key>
			<string>山南地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610000</string>
			<key>areaname</key>
			<string>陕西省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>532700</string>
			<key>areaname</key>
			<string>思茅地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>612500</string>
			<key>areaname</key>
			<string>商洛地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>640200</string>
			<key>areaname</key>
			<string>石嘴山市</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>710000</string>
			<key>areaname</key>
			<string>台湾省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>654200</string>
			<key>areaname</key>
			<string>塔城地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610200</string>
			<key>areaname</key>
			<string>铜川市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>620500</string>
			<key>areaname</key>
			<string>天水市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>220500</string>
			<key>areaname</key>
			<string>通化市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>211200</string>
			<key>areaname</key>
			<string>铁岭市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140100</string>
			<key>areaname</key>
			<string>太原市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130200</string>
			<key>areaname</key>
			<string>唐山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>120000</string>
			<key>areaname</key>
			<string>天津市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>321200</string>
			<key>areaname</key>
			<string>泰州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340700</string>
			<key>areaname</key>
			<string>铜陵市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>331000</string>
			<key>areaname</key>
			<string>台州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>522200</string>
			<key>areaname</key>
			<string>铜仁地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460026</string>
			<key>areaname</key>
			<string>屯昌县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460001</string>
			<key>areaname</key>
			<string>通什市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370900</string>
			<key>areaname</key>
			<string>泰安市</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>371000</string>
			<key>areaname</key>
			<string>威海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370700</string>
			<key>areaname</key>
			<string>潍坊市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420100</string>
			<key>areaname</key>
			<string>武汉市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460005</string>
			<key>areaname</key>
			<string>文昌市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460006</string>
			<key>areaname</key>
			<string>万宁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450400</string>
			<key>areaname</key>
			<string>梧州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>340200</string>
			<key>areaname</key>
			<string>芜湖市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330300</string>
			<key>areaname</key>
			<string>温州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320200</string>
			<key>areaname</key>
			<string>无锡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>150300</string>
			<key>areaname</key>
			<string>乌海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>622300</string>
			<key>areaname</key>
			<string>武威地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610500</string>
			<key>areaname</key>
			<string>渭南市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>640300</string>
			<key>areaname</key>
			<string>吴忠市</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>610400</string>
			<key>areaname</key>
			<string>咸阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610100</string>
			<key>areaname</key>
			<string>西安市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>630100</string>
			<key>areaname</key>
			<string>西宁市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>142200</string>
			<key>areaname</key>
			<string>忻州地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>120200</string>
			<key>areaname</key>
			<string>县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130500</string>
			<key>areaname</key>
			<string>邢台市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>310200</string>
			<key>areaname</key>
			<string>县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320300</string>
			<key>areaname</key>
			<string>徐州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350200</string>
			<key>areaname</key>
			<string>厦门市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>342500</string>
			<key>areaname</key>
			<string>宣城地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360500</string>
			<key>areaname</key>
			<string>新余市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>460037</string>
			<key>areaname</key>
			<string>西沙群岛</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>500200</string>
			<key>areaname</key>
			<string>县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420600</string>
			<key>areaname</key>
			<string>襄樊市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411500</string>
			<key>areaname</key>
			<string>信阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>411000</string>
			<key>areaname</key>
			<string>许昌市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410700</string>
			<key>areaname</key>
			<string>新乡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430300</string>
			<key>areaname</key>
			<string>湘潭市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420900</string>
			<key>areaname</key>
			<string>孝感市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>421200</string>
			<key>areaname</key>
			<string>咸宁市</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>430600</string>
			<key>areaname</key>
			<string>岳阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>431100</string>
			<key>areaname</key>
			<string>永州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430900</string>
			<key>areaname</key>
			<string>益阳市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441700</string>
			<key>areaname</key>
			<string>阳江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>420500</string>
			<key>areaname</key>
			<string>宜昌市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370600</string>
			<key>areaname</key>
			<string>烟台市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>511500</string>
			<key>areaname</key>
			<string>宜宾市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>530000</string>
			<key>areaname</key>
			<string>云南省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>530400</string>
			<key>areaname</key>
			<string>玉溪市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>513100</string>
			<key>areaname</key>
			<string>雅安地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>445300</string>
			<key>areaname</key>
			<string>云浮市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>450900</string>
			<key>areaname</key>
			<string>玉林市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>360600</string>
			<key>areaname</key>
			<string>鹰潭市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>362200</string>
			<key>areaname</key>
			<string>宜春地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>320900</string>
			<key>areaname</key>
			<string>盐城市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>321000</string>
			<key>areaname</key>
			<string>扬州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>230700</string>
			<key>areaname</key>
			<string>伊春市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>210800</string>
			<key>areaname</key>
			<string>营口市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>110229</string>
			<key>areaname</key>
			<string>延庆县</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>142700</string>
			<key>areaname</key>
			<string>运城地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>140300</string>
			<key>areaname</key>
			<string>阳泉市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>640100</string>
			<key>areaname</key>
			<string>银川市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>610600</string>
			<key>areaname</key>
			<string>延安市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>612700</string>
			<key>areaname</key>
			<string>榆林地区</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>areacode</key>
			<string>622200</string>
			<key>areaname</key>
			<string>张掖地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>130700</string>
			<key>areaname</key>
			<string>张家口市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>321100</string>
			<key>areaname</key>
			<string>镇江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330000</string>
			<key>areaname</key>
			<string>浙江省</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>330900</string>
			<key>areaname</key>
			<string>舟山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370300</string>
			<key>areaname</key>
			<string>淄博市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>370400</string>
			<key>areaname</key>
			<string>枣庄市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>350600</string>
			<key>areaname</key>
			<string>漳州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>442000</string>
			<key>areaname</key>
			<string>中山市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>513900</string>
			<key>areaname</key>
			<string>资阳地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>520300</string>
			<key>areaname</key>
			<string>遵义市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>532100</string>
			<key>areaname</key>
			<string>昭通地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>510300</string>
			<key>areaname</key>
			<string>自贡市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>410100</string>
			<key>areaname</key>
			<string>郑州市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>412700</string>
			<key>areaname</key>
			<string>周口地区</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>441200</string>
			<key>areaname</key>
			<string>肇庆市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440800</string>
			<key>areaname</key>
			<string>湛江市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>440400</string>
			<key>areaname</key>
			<string>珠海市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430800</string>
			<key>areaname</key>
			<string>张家界市</string>
		</dict>
		<dict>
			<key>areacode</key>
			<string>430200</string>
			<key>areaname</key>
			<string>株洲市</string>
		</dict>
	</array>
</dict>
</plist>
